<% content_for :title, "404: Not Found - LatinWiki" %>
<div class="wiki-layout">
  <%= render "shared/wiki_sidebar" %>
  <div class="wiki-content">
    <div class="wiki-content-main">
      <article class="wiki-article">
        <h1 class="wiki-article-title">404: Not Found</h1>
        <div class="wiki-video-embed">
          <iframe src="https://www.youtube-nocookie.com/embed/cvh0nX08nRw?si=5rOWss_okMdztt_K" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </article>
    </div>
  </div>
</div>
